body{
  background-color: #515A5A;
}

}
.maincontainer{

  padding: 150px;

}

.subcontainers{
  text-align: center;
  padding: 30px;
  font-family:tahoma;
  font-size:20px;
  
}
.headings{
  padding: 10px;
  text-align: left;
  font-size:30px;
  color: #2E4053;
}
